

/* ==========================================================================
   Aimee's custom styles
   ========================================================================== */

*{
	font-family: "proxima-nova", sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;

}

html {
	overflow-y: scroll;
}

body{
	color: rgb(49, 49, 49);
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
	padding-top: 150px;
	background-color: rgb(245,245,245)
}

p {
	margin-bottom: 15px;
}


.intro-para p{
		padding: 90px 20px 80px;
}

a {
	transition: color 200ms linear;
	-webkit-transition: color 200ms linear;
	-moz-transition: color 200ms linear;
	-o-transition: color 200ms linear;
	-ms-transition: color 200ms linear;
}

body, input, select, textarea, button {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/* Top Navigation and Banner*/

h2.navbar-brand{
	letter-spacing: .6px;
	margin-top: 0px;
}

.navbar{
	position: absolute;
	top: 25px;

}
.navbar-brand, h1{
	text-transform: uppercase;
	font-weight: 100;
	font-size: 2em;
	display: block;
}
.banner{
	background-color: rgb(235,233,229);
	background-image: -webkit-linear-gradient(38deg, rgb(235,215,190), rgb(235,215,190) 50%, rgb(235,233,229) 50%, rgb(235,233,229) 100%);
	background-image: -moz-linear-gradient(38deg, #4cd2da, #4cd2da 50%, #5adae2 50%, #5adae2 100%);
	border-bottom: 2px solid rgb(243,243,21);
}
.navbar-toggle, .navbar-toggle .icon-bar {
	color: white;
	background-color: black;
}

.portfolio span{
	 display: inline-block;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	padding: 20px;
	position: relative;
	z-index: 12;
}

div.info-section {
	background: rgb(47, 47, 47);
	padding: 40px 20px 20px;
	text-align: center;
	font-size: 2em;
	color: white;
	border-top: dashed 2px rgb(243,243,21);
	border-bottom: dashed 2px rgb(243,243,21);
}

.bio-section{
	padding: 90px 20px 80px;
	 /*background-image: url('../img/flowers.jpg');*/
	-webkit-transition: all .2s ease-in-out;
}

.bio-section:hover 
{ 
	-webkit-transform: scale(1.1); 
}

.bio-section::after {
	
	content: "";
	  /*background: url(../img/balloons.jpg) no-repeat center center fixed;*/
/*	  background: url(../img/bricks.jpg) no-repeat center center fixed;*/
	  opacity: 0.5;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  position: absolute;
	  z-index: -1;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

blockquote {
	text-indent: -0.8em;
	font-size: 12px;
}

.work p{
	background-color: rgba (255,255,255,.7);
		max-width: 480px;
	margin: 0 auto 32px;
	text-align: center;
	font-size: 2.25rem;
}

/* Homepage Portfolio Styling*/

img.work {
	max-width: 100%;
	display: block;
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;	
	top: 50%;
    left: 50%;
}

.portfolio a {
	display: block;
	background: rgb(60, 105, 142);
	background: rgba(56, 104, 143, 0.95);
	height: 100%;
	width: 100%;
	position: absolute;
	padding: 15px;
	zoom: 1;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	transition: opacity 200ms linear;
	-webkit-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
	-o-transition: opacity 200ms linear;
	-ms-transition: opacity 200ms linear;
	z-index: 1;
}

.portfolio a:hover{
	zoom: 1;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
.portfolio span {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	padding: 20px;
	position: relative;
	z-index: 12;
}

.portfolio h3 {
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-weight: 400;
	font-size: 30px;
	letter-spacing: 0.16em;
}

.portfolio p {
	color: rgb(138, 183, 223);
}

/*Bottom Sections*/

.right-col-bottom{
	border-left: 1px solid black;
}
.left-col-bottom{
	text-align: right;
}

@media only screen and (min-width: 768px) {

}
